<main class="main-content p-5" role="main">
  <div class="row">
    <div class="col-md-12 my-5 text-center">
  							<div class="text-danger">

  							</div>
  							<h1 class="display-1">Oops.....</h1>
  							<div class="display-4 mb-3">Something went wrong there</div>
  							<div class="lead">We've made a note and will check our logs.</div>
  							<div class="lead">If you need help, get in touch on the helpdesk. Otherwise, just use the menu on the left to continue.</div>
  						</div>
  </main>
