



      <section class="se-container">
				<div class="se-slope">
					<article class="se-content">
            <div class="container">
              <div class="center-block mt20percent">
              <div class="col-md-7 col-sm-12 mt-10 center-block">
                <div class="colorwhite">
                  <h2 class="fw-300 colorwhite"><span style="line-height: 100%;background-color: black;opacity: 0.8;padding-left: 2%;padding-right: 2%;padding-bottom: 1%;font-size: 38px;font-weight: 500;">
                    let us help you with your <span class="typed-words fw-400" data-strings="[&quot;cleaning&quot;, &quot;gardening&quot;, &quot;handywork&quot;]" data-custom-color="#ffffff"></span>
                  </span></h2>
                </div>
                <div class="row pb-25">
                  <div class="container-fluid colorwhite">
                    <h3><span class="colorwhite" style="line-height: 100%;background-color: black;opacity: 0.8;padding-left: 2%;padding-right: 2%;padding-bottom: 1%;font-size: 23px;font-weight: 300;">
                       enter your location to find services in your area </span></h3>
                    <br>
                    <form id="contact-form" action="" method="">
                      <div class="form-group animated fadeInRight" data-animation="fadeInRight" style="width: 80%;margin-left: auto;margin-right: auto;">
                        <input class="form-control" type="text" name="name" data-required placeholder="enter your location or postcode">
                      </div>
                      <div class="form-group mt-25" data-animation="fadeInRight">
                        <button class="btn btn-color upper findservicesbtn no-radius" data-custom-bg="#00a54e" type="submit">find services</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              </div>
            </div>
					</article>
				</div>
				<div class="se-slope2">
					<article class="se-content">
            <div class="container mtminusthree">
              <div class="row marginmodifierone ">
                <div class="col-md-4 col-sm-4 col-xs-4 mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn whitecolor" data-animation="zoomIn">
                    <div class="animated-icon" data-icon="images/icons/lock.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content whitecolor">
                      <h3 class="white-text">pressd promise</h3>
                      <h4 class="white-text">your money and property are safe with us</h4>
                      <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4  mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn whitecolor" data-animation="zoomIn" data-delay="300">
                    <div class="animated-icon" data-icon="images/newicons/staff.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content whitecolor">
                      <h3 class="white-text">local experts</h3>
                      <h4 class="white-text">we only work with selected local professionals to guarantee quality</h4>
                      <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4  mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn whitecolor" data-animation="zoomIn" data-delay="600">
                    <div class="animated-icon" data-icon="images/icons/heart.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content whitecolor">
                      <h3 class="white-text">satisfaction guaranteed</h3>
                      <h4 class="white-text">if you’re not happy, we’ll make it right</h4>
                      <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                    </div>
                  </div>
                </div>
              </div>
                  </div>
                </article>
				</div>
				<div class="se-slope3">
					<article class="se-content">
            <div class="container">
            <div class="row">
                    <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 mb-50 mt-50">
                      <div class="title m-0 txt-sm-center">
                        <h1 class="font-big fw-400">manage your services on the move</h1>
                        <h4>with our brand new app you can book and manage all your jobs on the move</h4>
                        <br>
                <a class="box-no-padding appstore-badge" href="#" target="_blank">
                <img alt="Download on the App Store" height="60" src="images/zapplestorebtn.png">
                </a>
                <a class="box-no-padding mobile-upsell__appstore-badge" href="#" target="_blank">
                <img alt="" height="60" src="">
                <img src="images/zgoogleplaybtn.png" alt="Get it on Google Play" height="60">
                </a>
                      </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3 hidden-xs">
                      <img src="images/iphones.png" alt="">
                    </div>
                  </div>
            </div>
					</article>
				</div>
				<div class="se-slope4">
					<article class="se-content">
            <div class="container mtminusthree">

                  <div class="row mtminusthreepercent">
                    <div class="col-md-3 textcenter center-block mbminusten">
                    <h3 class="white-text">we offer a range of services</h3>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn">
                        <div class="animated-icon" data-icon="images/iconswhite/cleaner.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">domestic cleaning</h3>
                          <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="300">
                        <div class="animated-icon" data-icon="images/iconswhite/lawnmower.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">gardening services</h3>
                          <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="600">
                        <div class="animated-icon" data-icon="images/iconswhite/tools.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">handyman services</h3>
                          <a href="aboutus.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            </article>
				</div>
				<div class="se-slope5">
					<article class="se-content">
            <div class="container">
              <div class="image-row" style="background-image: url(&quot;images/bg-image-1.jpg&quot;);"></div>
              <div class="testimonials-slider">
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="images/testimonial-1.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>marys cleaning</h4><span class="testimonial-info">partner</span>
                                    <p>what a fantastic platform. i am able to manage my work and staff much more effectively and serve my fantastic customers better than ever</p>
                                  </div>
                                </div>
                              </div>
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="images/testimonial-2.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>don hujik</h4><span class="testimonial-info">customer</span>
                                    <p>so easy to use. i was able to get my living room cleaned and my garden on the same day</p>
                                  </div>
                                </div>
                              </div>
                            </div>
            </div>
					</article>
				</div>
				<div class="se-slope6">
					<article class="se-content">
            <div class="container">
                  <div class="row mtminussevenpercent">
                    <div class="col-md-3 textcenter center-block mbminusten">
                    <h3 class="white-text">how it works</h3>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn">
                        <div class="animated-icon" data-icon="images/newicons/clock.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">pick a time</h3>
                          <h4 class="white-text">we're available 7am-11pm and you can easily reschedule online.</h4>
                          <a href="becomeapartner.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="300">
                        <div class="animated-icon" data-icon="images/newicons/mobil.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">book instantly</h3>
                          <h4 class="white-text">we'll confirm your appointment and take care of payment electronically and securely.</h4>
                          <a href="becomeapartner.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mbminusfivepercent">
                      <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="600">
                        <div class="animated-icon" data-icon="images/newicons/user.svg"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                        <div class="ib-content">
                          <h3 class="white-text">your pro arrives</h3>
                          <h4 class="white-text">an experienced, fully-equipped professional will show up on time at your doorstep!</h4>
                          <a href="becomeapartner.html"><h4 class="darkgreycolor">learn more</h4></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            </article>
				</div>
        <div class="container-fluid" style="padding-bottom: 18%;background-image: url(&quot;images/background.jpg&quot;);margin-top: -10%;background-size: contain;">
              <div class="row row-flex flex-center padding-row" style="background-image: url(&quot;../images/background.jpg&quot;);margin-top: 10%;">
                <div class="col-md-6 col-sm-12 threepercentpaddingtop">
                  <div class="column-inner">
                    <div class="pricing-table">
                      <div class="pricing-head">
                        <h3>interested in becoming a partner?</h3>
                      </div>
                      <ul class="features nav">
                        <li><span>- earn more money</span>
                        </li>
                        <li><span>- manage your jobs effectively</span>
                        </li>
                        <li><span>- control your staff</span>
                        </li>
                        <li><span>- reach new customers</span>
                        </li>
                      </ul>
                      <div class="pricing-footer"><a class="btn btn-color upper no-radius" data-custom-bg="#70706f" href="#">find out more</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 threepercentpaddingtop" data-custom-bg="#ffffff">
                  <div class="column-inner">
                    <div class="title">
                      <h2>what we stand for</h2>
                      <h4>transforming the way professional services are accessed and delivered</h4>
                    </div>
                    <div class="section-content">
                      <ul class="accordion" data-open-first="true">
                        <li data-animation="zoomOut">
                          <div class="accordion-title">
                            <h4>Quality</h4>
                          </div>
                          <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
                          </div>
                        </li>
                        <li data-animation="zoomOut" data-delay="300">
                          <div class="accordion-title">
                            <h4>Value</h4>
                          </div>
                          <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
                          </div>
                        </li>
                        <li data-animation="zoomOut" data-delay="600">
                          <div class="accordion-title">
                            <h4>Customer Service</h4>
                          </div>
                          <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
				</div>
				<div class="se-slope8">
					<article class="se-content">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-2"></div>
                <div class="col-md-6 col-sm-8 col-xs-8">
                  <div class="title text-center mt10percent colorwhite">
                    <h3 class="white-text">enter your location to find services in your area </h3>
                    <form id="contact-form" action="" method="">
                    <div class="form-group animated fadeInRight" data-animation="fadeInRight">
                      <input class="form-control" type="text" name="name" data-required="" placeholder="enter your location or postcode">
                    </div>
                    <div class="form-group mt-25 animated fadeInRight" data-animation="fadeInRight">
                      <button class="btn btn-color upper findservicesbtn no-radius" data-custom-bg="#70706f" type="submit" style="background-color: rgb(0, 165, 78);">find services</button>
                    </div>
                  </form>
                  </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-2"></div>
              </div>
              <div class="row"><br></div>
            </div>
            </article>
				</div>
			</section>
        </div>

  
