 <div id='main' role='main'>
      	<div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  Blog
                  <small>Nam porta lectus a sodales pulvinar. Morbi sed auctor magna.</small>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>
            <div class="row">
            	<div class="col-md-8">
            		<div class="blogPart">
            			<div class="blogHeading">
            				<h2>Lorem ipsum dolor sit amet, consectetur </h2>
            				<p>On Feb 11, 2011 by <a href="#">Mathew Morgan</a> in <a href="#">presentation</a>, <a href="#">Happy Writing</a> with 26 Comments</p>
            			</div>
            			<div class="blogImage">
            				<img src="assets/images/blog/blog1.jpeg" class="img-responsive">
            			</div>
            			<p class="blogPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            		</div>
            	</div>
            	<div class="col-md-4">
            		<div class="blogListing">
            		    <div class="listing">
            				<div class="blogHeading">
            					<h2><a href="#">Lorem ipsum dolor sit amet, consectetur3 </a></h2>
            					<p>On Feb 11, 2011 by <a href="#">Mathew Morgan</a> in <a href="#">presentation</a>, <a href="#">Happy Writing</a> with 26 Comments</p>
            				</div>
            				<a href="#"><div class="listingImage" style="background:url(assets/images/blog/blog3.jpeg) no-repeat;">
            			</div></a>
            			<p class="blogPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            		</div>
            	    </div>
            </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      </div>
     