

<div class="page-heading">
            <h3>
                Opening Times
            </h3>
            <ul class="breadcrumb">

            </ul>
			<p id="notice"><%= notice %></p>
</div>
<div class="wrapper">
        <div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
            <h2>Opening Times</h2>
					</header>
					<div class="panel-body">

            <div class='calendar'></div>

          </div>
        </section>
      </div>
    </div>
</div>
