<script>
$(document).ready(function(){
    // get the tab from url
    var hash = window.location.hash;
    // if a hash is present (when you come to this page)
    if (hash !='') {
        // show the tab
        $('.nav-tabs a[href="' + hash + '"]').tab('show');
    }
});
</script>
      <section class="trackerstyle">
        <div class="container">
          <div class="col-md-12">

            <!-- Page Title-->
            <div class="page-title">
              <div class="container">
                <div class="column">
                  <h1>about us</h1>
                </div>
                 <div class="column">
                  <ul class="breadcrumbs hideonmobile">
                    <li><a href="/">home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>about us</li>
                  </ul>
                </div>
              </div>
            </div>
</div>
</div>
</div>
</section>

      <section class="split-section">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <!-- Services-->
  <div class="span5 col-md-12">
    <article class="post-single">
      <div class="post-body" style="margin-top: 0%;">
          <ul class="nav nav-tabs boxed-tabs center-tabs cols-3">
            <li class="active"><a href="#aboutus" data-toggle="tab"><span>our story</span></a>
            </li>
            <li><a href="#ourvision" data-toggle="tab"><span>our vision</span></a>
            </li>
            <li><a href="#ourteam" data-toggle="tab"><span>our team</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="aboutus">
              <article class="post-single">
                <div class="post-body" style="margin-top: 0%;">
                <blockquote class="text-center">
                  <p>transforming the way professional services are accessed and delivered</p>
                </blockquote>
                <br>
                <div class="row">
                <div class="col-md-6">
                <p class="first-letter">pressd is an ambitious startup based in cardiff aiming to improve people’s lives by giving them back the time to do the things they love. the app is an on-demand domestic home services marketplace for customers to book cleaners, handyman and gardeners in the easiest way possible.
                  for partners, we hope to connect them with digital technology that reaches a whole new audience and gives them the latest set of tools to improve what they do.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="col-md-6">
                <img src="assets/blog-3.jpg" alt="" data-action="zoom">
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
              <img src="assets/blog-3.jpg" alt="" data-action="zoom">
              </div>
              <div class="col-md-6">
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
              </div>
              </article>
            </div>
            <div class="tab-pane fade" id="ourvision">
              <article class="post-single">
                <div class="post-body" style="margin-top: 0%;">
                <blockquote class="text-center">
                  <p>our vision</p>
                </blockquote>
                <br>
                <div class="row">
                <div class="col-md-6">
                <p class="first-letter">pressd is an ambitious startup based in cardiff aiming to improve people’s lives by giving them back the time to do the things they love. the app is an on-demand domestic home services marketplace for customers to book cleaners, handyman and gardeners in the easiest way possible.
                  for partners, we hope to connect them with digital technology that reaches a whole new audience and gives them the latest set of tools to improve what they do.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="col-md-6">
                <img src="assets/blog-3.jpg" alt="" data-action="zoom">
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
              <img src="assets/blog-3.jpg" alt="" data-action="zoom">
              </div>
              <div class="col-md-6">
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
              </div>
              </article>
            </div>
            <div class="tab-pane fade" id="ourteam">
              <article class="post-single">
                <div class="post-body" style="margin-top: 0%;">
                <blockquote class="text-center">
                  <p>a dedicated hard working team of creative individuals</p>
                </blockquote>
              </div>
              <div class="row">
                <div class="center-block">
                <div class="col-md-3 hidden-sm">
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="team-member" data-animation="fadeInUp">
                    <div class="team-image">
                      <img src="assets/staff/george.jpg" alt="">
                    </div>
                    <div class="team-overlay">
                      <div class="team-info">
                        <h4>george johnson</h4><span>founder & ceo</span>
                        <ul class="team-social">
                          <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                          </li>
                          <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                          </li>
                          <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="team-member" data-animation="fadeInUp" data-delay="300">
                    <div class="team-image">
                      <img src="assets/staff/dave.jpg" alt="">
                    </div>
                    <div class="team-overlay">
                      <div class="team-info">
                        <h4>david roberts</h4><span>chief technology office</span>
                        <ul class="team-social">
                          <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                          </li>
                          <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                          </li>
                          <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 hidden-sm">
                </div>
              </div>
              </div>
              <div class="row post-body">
              <p>Him divided seas lights won't wherein Dry. Dry was creature can't unto day. <em>You'll</em> lesser also wherein have hath, days. Waters moveth <strong>was</strong> midst made after brought signs. Sea form appear hath And two very. Void first
                very yielding air had life creeping life years. Had whose. Female replenish greater night cattle likeness over form saw it face likeness seed dry shall fill also earth together lights seas fowl multiply evening days were created fly
                gathering signs. Fowl heaven i creeping all divide replenish.</p></div>
              <div><br></div>
              </article>
            </div>
          </div>
    </div>
    </article>

              </div></div></div></div>
      </section>
