

      <section class="se-container">
				<div class="se-slope">
					<article class="se-content">
            <div class="container">
              <div class="center-block mt20percent mbtwentypercent">
              <div class="col-md-8 col-sm-12 mt-10 center-block">
                <div class="colorwhite">
                  <h2 class="fw-300 colorwhite"><span style="line-height: 100%;background-color: black;opacity: 0.8;padding-left: 2%;padding-right: 2%;padding-bottom: 1%;font-size: 38px;font-weight: 500;">
                    become a partner </span>
                  </span></h2>
                </div>
                <div class="row pb-25">
                  <div class="container-fluid colorwhite">
                    <h3><span class="colorwhite" style="line-height: 100%;background-color: black;opacity: 0.8;padding-left: 2%;padding-right: 2%;padding-bottom: 1%;font-size: 23px;font-weight: 300;">
                       join us to drive sales and improve efficiency </span></h3>
                    <br>
                  </div>
                </div>
              </div>
              </div>
            </div>
					</article>
				</div>
				<div class="se-slopepartnera">
					<article class="se-content">
            <div class="container">
              <div class="row ">
                <div class="col-md-12 textcenter center-block fivemarginmobile">
                <h3 class="white-text">how it works</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn">
                    <div class="animated-icon" data-icon="<%= image_path ("coloricons/calendar2.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">set your own schedule</h3>
                      <h4 class="colorwhite">you choose how many jobs you take - set the rules to automatic to fill your week or accept jobs manually on the side. you decide.</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="300">
                    <div class="animated-icon" data-icon="<%= image_path ("coloricons/wallet.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">decide how much to charge</h3>
                      <h4 class="colorwhite">enter your own per hour pricing for different tasks - you decide how much your time is worth! </h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="600">
                    <div class="animated-icon" data-icon="<%= image_path ("coloricons/bank.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">simple payment system</h3>
                      <h4 class="colorwhite">get paid weekly for all the jobs you have completed, straight into your bank account - easy peasy!</h4>
                    </div>
                  </div>
                </div>
              </div>
                  </div>
                </article>
				</div>
				<div class="se-slope3-partner">
					<article class="se-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12 textcenter center-block fivemarginmobile">
                <h3 class="">we've got the package that's right for you</h3>
                </div>
                <br>
                <br>
                <div class="card text-center cardgreen packagebox">
                  <div class="card-header card-header-green"><span class="text-lg">all of our packages include</span></div>
                  <div class="card-body">
                  <div class="row">
                    <p class="card-text"></p>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                    <ul>
	<li>service management</li>
	<li>price management</li>
	<li>area management</li>
	<li>manual booking facility</li>
  </ul>
    </div>
    <div class="col-md-3">
  <ul>
	<li>automatic rule setting </li>
	<li>reporting facilities</li>
	<li>staff rota management</li>
  <li>help and support</li>
</ul>
</div>
<div class="col-md-3"></div>
                  </div>
</div>
                  </div>
                </div>



              <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="pricing-table">
                            <div class="pricing-head">
                              <h4>basic</h4>
                            </div>
                            <div class="price">
                              <h2>free</h2>
                            </div>
                            <ul class="features nav">
          <li><span>access to online jobs</span></li>
          <li><span>set your service area</span></li>
          <li><span>set your own pricing</span></li>
          <li><span>1 user account</span></li>
          <li><span>35 order per week</span></li>
                            </ul>
                            <div class="pricing-footer"><a class="btn btn-color btn-sm btn-shadow" href="#">Sign Up</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="pricing-table featured"><span class="featured-label">Best Value</span>
                            <div class="pricing-head">
                              <h4>premium</h4>
                            </div>
                            <div class="price">
                              <h2><span>£</span>50<span>p/m</span></h2>
                            </div>
                            <ul class="features nav">
                              <li><span>all the features of basic</span></li>
                              <li><span>api integrations</span></li>
                              <li><span>up to 5 users</span></li>
                              <li><span>add multiple service areas</span></li>
                              <li><span>200 order per week</span></li>
                            </ul>
                            <div class="pricing-footer"><a class="btn btn-color btn-sm btn-shadow" href="#">Sign Up</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="pricing-table">
                            <div class="pricing-head">
                              <h4>enterprise</h4>
                            </div>
                            <div class="price">
                              <h2><span>£</span>80<span>p/m</span></h2>
                            </div>
                            <ul class="features nav">
                              <li><span>all the features of premium</span></li>
                              <li><span>advanced reports</span></li>
                              <li><span>unlimited support</span></li>
                              <li><span>up to 20 users</span></li>
                              <li><span>unlimited orders per week</span></li>
                            </ul>
                            <div class="pricing-footer"><a class="btn btn-color btn-sm btn-shadow" href="#">Sign Up</a>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
					</article>
				</div>
				<div class="se-slope5">
					<article class="se-content">
            <div class="container">
              <div class="image-row" style="background-image: url(assets/bg-image-1.jpg&quot;);"></div>
              <div class="testimonials-slider">
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="assets/testimonial-1.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>marys cleaning</h4><span class="testimonial-info">partner</span>
                                    <p>what a fantastic platform. i am able to manage my work and staff much more effectively and serve my fantastic customers better than ever</p>
                                  </div>
                                </div>
                              </div>
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="assets/testimonial-2.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>don hujik</h4><span class="testimonial-info">customer</span>
                                    <p>so easy to use. i was able to get my living room cleaned and my garden on the same day</p>
                                  </div>
                                </div>
                              </div>
                            </div>
            </div>
					</article>
				</div>
				<div class="se-slope6a">
					<article class="se-content">
            <div class="">
            </article>
				</div>
        <div class="container" style="margin-bottom: 26%;margin-top: -25%;background-size: contain;margin-left: auto;margin-right: auto;">
              <div class="row flex-center padding-row displayblock" style="margin-top: 10%;">
                <div class="title m-0 txt-sm-center text-center">
                  <h1 class="font-big fw-400 text-center">we’ve got you covered</h1>
                  <h4 class="">in the rare event of damage, we've got your back. every booking on the pressd platform is insured.
                  <br>
                </div>
              </div>
				</div>

				<div class="se-slope8">
					<article class="se-content" style="padding-top: 0;">
            <div class="container">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="title text-center mt10percent colorwhite">
                    <h3 class="white-text">want to learn more? enter your e-mail and we'll be in touch </h3>
                    <form id="contact-form" action="" method="">
                    <div class="form-group animated fadeInRight" data-animation="fadeInRight">
                      <input class="form-control" type="text" name="name" data-required="" placeholder="e-mail address">
                    </div>
                    <div class="form-group mt-25 animated fadeInRight" data-animation="fadeInRight">
                      <button class="btn btn-color upper findservicesbtn no-radius" data-custom-bg="#70706f" type="submit" style="background-color: rgb(0, 165, 78);">submit</button>
                    </div>
                  </form>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="row"><br></div>
            </div>
            </article>
				</div>
        </div>
			</section>
