<script>
$(document).ready(function(){
    // get the tab from url
    var hash = window.location.hash;
    // if a hash is present (when you come to this page)
    if (hash !='') {
        // show the tab
        $('.nav-tabs a[href="' + hash + '"]').tab('show');
    }
});
</script>
      <section class="trackerstyle">
        <div class="container">
          <div class="col-md-12">

            <!-- Page Title-->
            <div class="page-title">
              <div class="container">
                <div class="column">
                  <h1>careers</h1>
                </div>
                 <div class="column">
                  <ul class="breadcrumbs hideonmobile">
                    <li><a href="/">home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>careers</li>
                  </ul>
                </div>
              </div>
            </div>
</div>
</div>
</div>
</section>

      <section class="split-section">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <!-- Services-->
  <div class="span5 col-md-12">
    <article class="post-single">
      <div class="post-body" style="margin-top: 0%;">
                <div class="post-body" style="margin-top: 0%;">
                <blockquote class="text-center">
                  <p>a company by people for people</p>
                </blockquote>
                <br>
                <div class="row">
                <div class="col-md-6">
                <p class="first-letter">pressd is an ambitious startup based in cardiff aiming to improve people’s lives by giving them back the time to do the things they love. the app is an on-demand domestic home services marketplace for customers to book cleaners, handyman and gardeners in the easiest way possible.
                  for partners, we hope to connect them with digital technology that reaches a whole new audience and gives them the latest set of tools to improve what they do.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="col-md-6">
                <img src="assets/blog-3.jpg" alt="" data-action="zoom">
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
              <img src="assets/blog-3.jpg" alt="" data-action="zoom">
              </div>
              <div class="col-md-6">
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
              </div>
              </div>
    </article>

              </div></div></div></div>
      </section>
