

      <section class="se-container">
				<div class="se-slope">
					<article style="padding-bottom: 30%;" class="se-content">
            <div class="container">
              <div class="center-block mt20percent">
              <div class="col-md-6 col-sm-12 mt-10 center-block">
                <div class="colorwhite">
                  <h2 class="fw-300 colorwhite"><span style="line-height: 100%;background-color: black;opacity: 0.8;padding-left: 2%;padding-right: 2%;padding-bottom: 1%;font-size: 38px;font-weight: 500;">
                    let us help with your cleaning </span>
                  </span></h2>
                </div>
                <div class="row pb-25">
                  <div class="container-fluid colorwhite">
                  </div>
                </div>
              </div>
              </div>
            </div>
					</article>
				</div>
				<div class="se-slopepartnera">
					<article class="se-content">
            <div class="container mtminusthree">
              <div class="row marginmodifierone ">
                <div class="col-md-3 textcenter center-block mbminusten">
                <h3 class="white-text">how it works</h3>
                </div>
                <div class="col-md-4 col-sm-12 mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn">
                    <div class="animated-icon" data-icon="<%= image_path ("newicons/Staff.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">experienced and vetted partners</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="300">
                    <div class="animated-icon" data-icon="<%= image_path ("newicons/Cal.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">easy online scheduling and payment</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 mtminustwopercent">
                  <div class="icon-box iconminustop align-center icon--big animated zoomIn marginmodifierone" data-animation="zoomIn" data-delay="600">
                    <div class="animated-icon" data-icon="<%= image_path ("newicons/pressdicon.svg") %>"><object type="image/svg+xml" built-by-vivus="true"></object></div>
                    <div class="ib-content colorwhite">
                      <h3 class="colorwhite">covered by the pressd promise</h3>
                      </div>
                  </div>
                </div>
              </div>
                  </div>
                </article>
				</div>
				<div class="se-slope3">
					<article class="se-content">
            <div class="container">
              <div class="row">
                <div class="row"><br></div>
                <div class="col-md-6 textcenter center-block">
                <h3 class="">what's included in domestic cleaning?</h3>
                </div>
                <div class="row"><br></div>
                <div class="col-md-6">
                <div class="card text-center cardgreen">
                  <div class="card-header card-header-green"><span class="text-lg">included</span></div>
                  <div class="card-body">
                  <div class="row">
                    <p class="card-text"></p>
                    <ul>
	                       <li>vetted and checked partner</li>
                         <li>1 common area</li>
	                       <li>1 bedroom</li>
	                       <li>1 kitchen</li>
	                       <li>wiping and dusting</li>
                         <li>hoovering</li>
                         <li>basic cleaning supplies included</li>
                    </ul>
                  </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-6">
                  <div class="card text-center cardgreen">
                    <div class="card-header card-header-green"><span class="text-lg">optional</span></div>
                    <div class="card-body">
                    <div class="row">
                      <p class="card-text"></p>
                      <ul>
  	                       <li>deep or end of tenancy clean</li>
                           <li>extra rooms cleaned</li>
  	                       <li>inside of cabinets cleaned</li>
  	                       <li>inside fridge cleaned</li>
  	                       <li>oven and appliances cleaned</li>
                           <li>blinds and shades cleaned</li>
                           <li>steam clean carpets</li>
                           <li>interior windows cleaned</li>
                           <li>laundry help</li>
                      </ul>
                    </div>
                    </div>
                  </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row"><br></div>
                  </div>
                </div>

					</article>
				</div>
				<div class="se-slope5">
					<article class="se-content">
            <div class="container">
              <div class="image-row" style="background-image: url(assets/bg-image-1.jpg&quot;);"></div>
              <div class="testimonials-slider">
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="assets/testimonial-1.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>marys cleaning</h4><span class="testimonial-info">partner</span>
                                    <p>what a fantastic platform. i am able to manage my work and staff much more effectively and serve my fantastic customers better than ever</p>
                                  </div>
                                </div>
                              </div>
                              <div class="testimonial">
                                <div class="testimonial-content">
                                  <img src="assets/testimonial-2.jpg" alt="">
                                  <div class="testimonial-comment">
                                    <h4>don hujik</h4><span class="testimonial-info">customer</span>
                                    <p>so easy to use. i was able to get my living room cleaned and my garden on the same day</p>
                                  </div>
                                </div>
                              </div>
                            </div>
            </div>
					</article>
				</div>
				<div class="se-slope6a">
					<article class="se-content">
            <div class="">
            </article>
				</div>
        <div class="container" style="margin-bottom: 26%;margin-top: -25%;background-size: contain;margin-left: auto;margin-right: auto;">
              <div class="row flex-center padding-row" style="margin-top: 10%;">
                <div class="title m-0 txt-sm-center text-center">
                  <h1 class="font-big fw-400 text-center">we’ve got you covered</h1>
                  <h4 class="">in the rare event of damage, we've got your back. every booking on the pressd platform is insured.
                  <br>
                </div>
              </div>
				</div>

        <div class="se-slope8">
          <article class="se-content">
            <div class="container">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="title text-center mt10percent colorwhite">
                    <h3 class="white-text">enter your location to find services in your area </h3>
                    <form id="contact-form" action="" method="">
                    <div class="form-group animated fadeInRight" data-animation="fadeInRight">
                      <input class="form-control" type="text" name="name" data-required="" placeholder="enter your location or postcode">
                    </div>
                    <div class="form-group mt-25 animated fadeInRight" data-animation="fadeInRight">
                      <button class="btn btn-color upper findservicesbtn no-radius" data-custom-bg="#70706f" type="submit" style="background-color: rgb(0, 165, 78);">find services</button>
                    </div>
                  </form>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
              <div class="row"><br></div>
            </div>
            </article>
        </div>
        </div>
			</section>
