<script>
$(document).ready(function(){
    // get the tab from url
    var hash = window.location.hash;
    // if a hash is present (when you come to this page)
    if (hash !='') {
        // show the tab
        $('.nav-tabs a[href="' + hash + '"]').tab('show');
    }
});
</script>
      <section class="trackerstyle">
        <div class="container">
          <div class="col-md-12">

            <!-- Page Title-->
            <div class="page-title">
              <div class="container">
                <div class="column">
                  <h1>legal information</h1>
                </div>
                 <div class="column">
                  <ul class="breadcrumbs hideonmobile">
                    <li><a href="/">home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>legal information</li>
                  </ul>
                </div>
              </div>
            </div>
</div>
</div>
</div>
</section>

<section class="split-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-sm-12">
      <!-- Services-->
<div class="span5 col-md-12">
<article class="post-single">
<div class="post-body" style="margin-top: 0%;">
    <ul class="nav nav-tabs boxed-tabs center-tabs cols-3">
      <li class="active"><a href="#boxed-tab-1" data-toggle="tab"><span>terms and conditions</span></a>
      </li>
      <li><a href="#boxed-tab-2" data-toggle="tab"><span>cookie policy</span></a>
      </li>
      <li><a href="#boxed-tab-3" data-toggle="tab"><span>privacy policy</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="boxed-tab-1">
        <p><strong>For Handy's Sweepstakes and Contest Official Rules, please click <a href="/sweepstakes">here</a>.</strong></p>
        <p><strong>For our Booking Terms and Conditions, which are the terms and conditions that apply when you make any bookings via our Platform, please click <a href="/booking_terms">here</a>.</strong></p>
        <p>These terms of use cover your use, as a UK user, of our website <a href="http://www.handy.com">www.handy.com</a> (<strong>"Website"</strong>), our mobile applications (the <strong>"App"</strong>), and our services (collectively the <strong>"Handy Platform"</strong>). Please read them carefully before you start to use the Handy Platform, as they apply to your use of the Handy Platform. By using the Handy Platform, you confirm that you accept these terms, including the terms of our Privacy and Cookies Policy, and that you agree to comply with them. If there is anything you do not agree with, please do not use the Handy Platform. If there is anything you do not understand, please contact us at <a href="http://www.handy.com/help">handy.com/help</a>.</p>
        <p>These terms of use include:</p>
        <ul>
        <li>Your agreement that the Handy Platform is provided "as is" and without warranty (Clause 9.c)</li>
        <li>Your agreement to certain restrictions on our liability to you (Clause 9.b)</li>
        <li>Your agreement to how we may amend these Terms of Use from time to time (Clause 1.e)</li>
        <li>Your agreement to our collection, storage and use of your personal data in accordance with our Privacy and Cookies Policy which you can access <a href="/privacy">here</a>.</li>
        </ul>
        <p><strong>1. <u>Introduction</u></strong></p>
        <p>a. The Handy Platform is provided by We Are Mop! Limited, a company incorporated in the United Kingdom under registration number 08334346 d/b/a Handy (<strong>"Handy"</strong>, <strong>"we"</strong> or <strong>"us"</strong>) to you, as a user of the Handy Platform.</p>
        <p>b. We have set the terms under which we are providing you with access to the Handy Platform and any services we offer from the Handy Platform, including our provision of a centralized booking point for selected third-party service providers (the <strong>"Professionals"</strong>). These include the terms and conditions that govern:</p>
        <p>(i) Your rights to use the Handy Platform (these <strong>"Terms of Use"</strong>)</p>
        <p>(ii) How we will use and protect information about you (our <strong>"Privacy and Cookies Policy"</strong>); and</p>
        <p>(iii) Our Booking Terms and Conditions in relation to the third-party services we offer from the Handy Platform (our <strong>"Booking Terms and Conditions"</strong>).</p>
        <p>Together or individually these may be referred to as our <strong>"Terms and Policies"</strong>.</p>
        <p>c. These Terms and Policies do not cover the terms on which we engage our Professionals. If you are a Professional, please check the Professional Terms of Business provided to you upon signing up with us. If you would like to apply to become a Professional, please click <a href="/apply">here</a>.</p>
        <p>d. If you enter any prize competitions or other promotions on the Handy Platform, separate terms may also apply in addition to these Terms and Policies. In the event of a conflict between any additional terms and conditions and these Terms and Policies, the additional terms will prevail to the extent of the conflict.</p>
        <p>e. We may change our Terms and Policies from time to time, in which case up to date versions of such Terms and Policies will be available via the Handy Platform. You should check these Terms and Policies regularly to ensure that you are agree to any changes. You will be deemed to have accepted any changes to the Terms and Policies after you have been notified of the changes on the Handy Platform homepage, and you continue to access or use the Handy Platform.</p>
        <p><strong>2. <u>Access to the Handy Platform</u></strong></p>
        <p>a. Access to the Handy Platform is permitted on a temporary basis. We reserve the right to withdraw or amend the Handy Platform (and any services offered on it) without notice to you. We reserve the right to withdraw, vary or suspend the Handy Platform (or any part of it) at any time without notice. We will not be liable if for any reason the Handy Platform or any part of it is unavailable at any time or for any period.</p>
        <p>b. You are responsible for making all arrangements necessary to access and view the Handy Platform, and you should ensure that you have up to date anti-virus software on any device from which you access the Handy Platform. You are also responsible for ensuring that all persons accessing the Handy Platform through your internet connection are aware of these Terms of Use.</p>
        <p>c. Materials and information posted on the Handy Platform are not intended as advice, including legal advice, and should not be relied upon as such. To the fullest extent permitted by law, we shall not be responsible or liable if you place any reliance on such information.</p>
        <p>d. You must not:</p>
        <p>(i) Use the Handy Platform to collect usernames and/or email addresses of members by electronic or other means without our express prior written consent;</p>
        <p>(ii) Advertise or offer to sell any goods or services for any commercial purpose, or solicit employment or contract work which is not relevant to the services offered through the Handy Platform;</p>
        <p>(iii) Solicit, advertise for, or contact in any form Users for employment, contracting, or any other purpose not related to Services facilitated through the Handy Platform without express written permission from us;</p>
        <p>(iv) Introduce viruses, Trojans, worms, logic bombs, time bombs, keystroke loggers, spyware/adware or any other programme or code which adversely affects (or is intended to adversely affect) the operation of any computer software or hardware;</p>
        <p>(v) Reverse engineer, disassemble, decompile, translate, modify, adapt, license, sublicense, alter, copy, distribute, hack or interfere with the Handy Platform, its servers or any connected networks or attempt to do any of the foregoing;</p>
        <p>(vi) Gain, or attempt to gain, unauthorised access to the server on which the Handy Platform is stored, or any server, computer or database connected with the Handy Platform; or</p>
        <p>(vii) Attack the Handy Platform via a denial-of-service attack or a distributed denial-of-service attack.</p>
        <p>e. If you breach these Terms of Use, your right to use the Handy Platform will cease immediately.</p>
        <p><strong>3. <u>Your Account</u></strong></p>
        <p>a. Some functionality of the Handy Platform may require a Handy registered account (<strong>"Account"</strong>) to access. If you are aged 18 or over, you may register to create an Account, which will require you to provide certain personal data, which must be true, accurate, current and complete, and will be held and used in accordance with any consent obtained from you and the terms of our Privacy and Cookies Policy. Access to your Account will be controlled with a unique username and password. You are responsible for keeping your Account password confidential and secure against unauthorised use, and for all activity that occurs using that Account.</p>
        <p>b. We reserve the right to refuse to grant you an Account, or to cancel your Account, at any time, including if in our reasonable opinion, you have failed to comply with any provision of our Terms and Policies.</p>
        <p>c. If you know or suspect that anyone other than you knows how to access your Account, you must change your Account password and contact us immediately through the <a href="http://www.handy.com/help">Handy Help Center</a>.</p>
        <p>d. Your privacy is important to us. Please see our Privacy and Cookies Policy here for details of how we will process your personal data, where it is provided to us, and how we will use cookies.</p>
        <p>e. Handy gift codes/voucher codes (<strong>"Codes"</strong>) may be redeemed on the Platform when ordering Services subject to the following terms and conditions:</p>
        <p>(i) Codes can be used to order Services of the same or higher price than the amount of money attributed to the Code with any balance to paid in accordance with sub-clause 3(e);</p>
        <p>(ii) Codes are valid for 1 year from the date issued by us;</p>
        <p>(iii) We do not accept liability for lost, stolen or damaged Codes;</p>
        <p>(iv) Codes cannot be exchanged for cash or refunded (unless in accordance with your legal rights); and</p>
        <p>(v) the relevant Code terms and conditions will also apply and, where applicable, take precedence over this sub-clause 3(g).</p>
        <p>g. Text Messages and Phone Calls.&nbsp;By providing your phone number and using the Handy Platform, you agree that we may, to the extent permitted by applicable law, use your mobile phone number for calls and, if such phone number is a mobile number, for text (SMS) messages, in order to assist with facilitating the requested Professional Services. Standard call or message charges or other charges from your phone carrier may apply to calls or text (SMS) messages we send you. You may opt-out of receiving text (SMS) messages from us by replying with the word "STOP" to a text message from us. You acknowledge that opting out of text (SMS) messages may impact your ability to use the Handy Platform. You agree to Handy’s use of a service provider to mask your telephone number when you call or exchange text (SMS) messages with a Service Professor or Service Requestor using a telephone number provided by Handy. During this process, Handy and its service provider will receive in real time and store call data, including the date and time of the call or text (SMS) message, the parties’ phone numbers, and the content of the text (SMS) messages. You agree to the masking process described above and to Handy’s use and disclosure of this call data for its legitimate business purposes.</p>
        <p><strong>4. <u>Submission Areas</u></strong></p>
        <p>a. The Handy Platform has some areas where you may communicate with other users of the Handy Platform and with Handy, such as blogs, message boards, opportunities to provide reviews and/or other message or communication facilities. Any material which is posted to the Handy Platform (<strong>"User Content"</strong>) through your Account will be attributed to you, and you are personally responsible for it. Some areas in the Submission Areas within the Handy Platform will be public and Handy will not be responsible for any information or materials posted in such public areas. Handy may, in its discretion, publicly post submissions you submit to a non-public area of the Handy Platform.</p>
        <p>b. We reserve the right to refuse to publish any User Content, or to remove or suspend access to such User Content if it does not comply with these Terms of Use, including the Acceptable Content warranty below. We will not be responsible for any loss or damages arising from our decision to exercise our rights under this clause.</p>
        <p>c. Views and opinions expressed in any User Content are those of the individual submitting that content. They are not our views and opinions and we do not accept responsibility for them. However, if you find any User Content on the Handy Platform that you consider is in breach of the Acceptable Content warranty below, please notify us by emailing <a href="mailto:legal@handy.com">legal@handy.com</a> using the subject heading "Unacceptable Content", setting out details of the User Content and where it can be found. We will endeavour to investigate promptly.</p>
        <p>d. If you do not comply with the Acceptable Content warranty, or if any of your User Content causes us concern, we reserve the right to pass on that User Content to the relevant authorities. If a third party claims that your User Content infringes their rights, we reserve the right to disclose your identity to that third party (or their legal counsel).</p>
        <p>e. You hereby grant to us the non-exclusive, irrevocable, transferrable and sub-licensable, royalty-free permission to use, reproduce and publish your User Content (including the right to alter, adapt, amend or change your User Content) in any media or format anywhere in perpetuity and without restriction.</p>
        <p><strong>5. <u>Acceptable Content</u></strong></p>
        <p>You represent and warrant that your User Content:</p>
        <p>a. does not contain or condone sexually explicit material or violence, or condone discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</p>
        <p>b. is not threatening, abusive or intimidating, or provided with an intent to harass any other person;</p>
        <p>c. does not infringe anyone else's rights, including any intellectual property rights or right of confidentiality or privacy; in particular, User should not submit content which is protected by copyright, trade mark, patent, trade secret, moral right, or any other proprietary right without the express consent of the owner of the respective right;</p>
        <p>d. complies with all applicable laws;</p>
        <p>e. does not contain any material which is defamatory, invades the privacy of any person, is obscene, offensive, or hate speech;</p>
        <p>f. does not breach any legal duty you owe to a third party, such as a contractual duty or a duty of confidence;</p>
        <p>g. is accurate and representative of your genuinely-held opinion where it states opinions – for example, in reviews;</p>
        <p>h. does not misrepresent your identity or affiliation with any person, or falsely gives the impression that such content comes from someone else;</p>
        <p>i. does not contain any unsolicited or unauthorised advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or other forms of solicitation or advertisement commercial or otherwise;</p>
        <p>j. does not advocate, promote or assist any unlawful act (e.g., criminal acts, copyright infringement, computer misuse, etc.); and</p>
        <p>k. does not feature any individual who has not expressly consented to his or her image and/or voice being featured on the Handy Platform, nor any individual under the age of 18 without the consent of that individual's parent or guardian;</p>
        <p>and you agree that you are responsible for any loss or damage we may suffer as a result of your breach of this warranty.</p>
        <p><strong>6. <u>Intellectual Property</u></strong></p>
        <p>a. You may access, view and print out the Handy Platform (excluding any User Content that does not belong to you) (<strong>"Handy Platform Content"</strong>) in accordance with our Terms and Policies for your own personal, non-commercial use. You may only print out or quote from the Handy Platform Content on the condition that you give us appropriate acknowledgement.</p>
        <p>b. Nothing in the above permission impairs or restricts any author's moral rights in respect of any Handy Platform Content.</p>
        <p>c. We expressly reserve all intellectual property rights in and to the Handy Platform and the Handy Platform Content, including in and to the Handy Platform domain name and all related domains and sub-domains, the name "Handy", our logo device, service marks, trading names and/or trade marks. Other trade marks and product/company names mentioned on the Handy Platform may be trade marks of their respective owners or licensors and the rights in such marks are reserved to them.</p>
        <p>d. You must not:</p>
        <p>(i) Remove any copyright or other proprietary notices contained in the Handy Platform Content;</p>
        <p>(ii)  Use any Handy Platform Content in any manner that may infringe any copyright, intellectual property right or other proprietary right of us or any third parties;</p>
        <p>(iii) Use, or cause others to use, any automated system or software to extract Handy Platform Content (so-called "screen scraping"), except in cases where you and any applicable third party has entered into a written agreement with us that expressly permits that activity; and/or</p>
        <p>(iv) Reproduce, modify, display, perform, publish, distribute, disseminate, broadcast, frame (or use any other browser or border environment), communicate to the public or circulate to any third party or exploit this Handy Platform and/or the Handy Platform Content for any commercial purpose, without our prior written consent by way of a written licence agreement.</p>
        <p><strong>7. <u>Linking</u></strong></p>
        <p>a. You may link to any page of the Handy Platform, for non-commercial purposes and provided that:</p>
        <p>(i) you do so in a way that is fair and legal and which does not damage or take unfair advantage of our reputation;</p>
        <p>(ii) any link does not contain or associate the Handy Platform with any pornographic or illegal material, or any material that is offensive, harassing, or otherwise objectionable;</p>
        <p>(iii) you do not do so in a way that suggests any form of association, approval or endorsement on our part where none exists; and/or</p>
        <p>(iv) you do not do so in a way that removes or obscures by framing or otherwise advertisements or copyright or other proprietary notices contained in the Handy Platform,</p>
        <p>b. We reserve the right to withdraw linking permission at any time without notice. If you would like to link to the Handy Platform for commercial purposes, or otherwise than provided above, please contact us at <a href="http://www.handy.com/help">handy.com/help</a>.</p>
        <p>c. The Handy Platform may contain links to third party websites. If you decide to visit any third party site, you do so at your own risk. We are not responsible or liable for the content, accuracy or opinions expressed in such websites or the standard of goods and/or services available through or on such websites. Unless expressly stated otherwise, links do not mean that we are, or the Handy Platform is, affiliated or associated with such third-party sites.</p>
        <p>d. Our communications with you may contain information sourced from third-party websites, which we will mark as such. We may also provide a link to the source website of such information. We do not accept responsibility or liability for any material supplied by or contained on any third-party website which is linked from our communications with you, or any use of personal data by such a third party. Your access of any linked third-party website is at your own risk, and our Terms and Policies will not apply to your browsing or interaction on any third-party site, so we recommend that you read that third-party website's terms and policies before proceeding.</p>
        <p><strong>8. <u>The App / Mobile Devices</u></strong></p>
        <p>a. The Handy Platform may allow you to access our services, download our Apps, upload content to the Handy Platform, and receive messages on your mobile device (collectively "Mobile Features").  Your mobile device carrier may prohibit or restrict certain Mobile Features and certain Mobile Features may be incompatible with your mobile device carrier or mobile device. In addition, your mobile device carrier may charge you for standard messaging, data, and other fees to participate in Mobile Features. We have no responsibility or liability for any fees or charges you incur when using the Mobile Features. You should check with your mobile device carrier to find out whether any fees or charges will apply, what plans are available and how much they cost. You should also contact your mobile device carrier with any other questions regarding these issues.</p>
        <p>b. You acknowledge that your use of the App is subject to any terms set forth in the terms of service of the third party providing the mobile device on which the App operates (e.g., Apple iOS or Android).</p>
        <p>c. Handy is not liable if you do not have a compatible mobile device or if you download the wrong version of the App for your mobile device. Handy reserves the right to terminate the use of the App or any other aspect of the Handy Platform should you be using the App or the Handy Platform with an incompatible or unauthorized device.</p>
        <p>d. <strong>App Store Sourced Application</strong></p>
        <p>(i) With respect to an App accessed through or downloaded from the Apple App Store (<strong>"App Store Sourced Application"</strong>), you will use the App Store Sourced Application only: (i) on an Apple-branded product that runs iOS (Apple's proprietary operating system software); and (ii) as permitted by the "Usage Rules" set forth in the Apple App Store Terms of Service. Handy reserves all rights in and to the App not expressly granted to you under these Terms of Use.</p>
        <p>(ii) You acknowledge and agree that (i) these Terms of Use are valid between you and Handy only, and, that Apple is not a party to these Terms of Use other than as third-party beneficiary as contemplated below, and (ii) Handy, not Apple, is solely responsible for the App Store Sourced Application and the Handy Platform Content.</p>
        <p>(iii) You acknowledge that Apple has no obligation whatsoever to furnish any maintenance or support services to you with respect to the App Store Sourced Application.</p>
        <p>(iv) To the maximum extent permitted by applicable law, Apple will have no warranty obligation whatsoever with respect to the App Store Sourced Application.</p>
        <p>(v) Notwithstanding anything to the contrary herein, and subject to the terms in these Terms of Use, you acknowledge that, solely as between Apple and Handy, Handy and not Apple is responsible for addressing any claims you may have relating to the App Store Sourced Application, or your possession and/or use thereof, including, but not limited, to: (i) product liability claims, (ii) any claim that the App Store Sourced Application fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>
        <p>(vi) Further, you agree that if the App Store Sourced Application, or your possession and use of the App Store Sourced Application, infringes on a third party's intellectual property rights, you will not hold Apple responsible for the investigation, defence, settlement and discharge of any such intellectual property infringement claims.</p>
        <p>(vii) You acknowledge and agree that Apple, and Apple's subsidiaries, are third-party beneficiaries of these Terms of Use for App Store Sourced Applications, and that, upon your acceptance of the terms and conditions of these Terms of Use, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms of Use for App Store Sourced Applications against you as a third-party beneficiary thereof.</p>
        <p>(viii) Without limiting any provisions of these Terms of Use, you must comply with all applicable third party terms of agreement when using the App Store Sourced Application.</p>
        <p><strong>9. <u>Our Liability</u></strong></p>
        <p>a. Nothing in our Terms and Policies shall affect your statutory rights, or exclude or limit our liability for death or personal injury arising through our negligence, fraudulent misrepresentation and/or anything else which cannot be excluded or limited by us under English law.</p>
        <p>b. <strong><u>We will not be liable under these Terms of Use for:</u></strong></p>
        <p>(i) <strong><u>Any loss or damage caused by us where there is no breach of a legal duty of care owed to you by us or by any of our employees, and such loss or damage is not a reasonably foreseeable result of any such breach;</u></strong></p>
        <p>(ii) <strong><u>Indirect losses that happen as a side effect of the main loss or damage and which are not foreseeable by you and us (such as loss of profits or opportunity); and/or</u></strong></p>
        <p>(iii) <strong><u>Any increase in loss or damage resulting from breach by you of any of these Terms of Use.</u></strong></p>
        <p>c. <strong><u>To the fullest extent permissible by law, we exclude and disclaim all warranties, terms, conditions and representations that might otherwise be implied by law in relation to this Handy Platform.</u></strong> In particular, we do not represent or warrant that:</p>
        <p>(i) The Handy Platform Content is accurate or complete;</p>
        <p>(ii) The Handy Platform will be error-free, virus-free or free from other harmful components, or that defects will be corrected. You must take your own precautions in this respect. In any event, we will not be responsible for any loss or damage caused by a distributed denial-of-service attack, viruses or other harmful material that may infect your computer hardware, software, data or other proprietary material due to your use of the Handy Platform.</p>
        <p>d. The Handy Platform is provided "as is", and we do not accept responsibility for any failure to maintain the Handy Platform, including without limitation any inaccuracies or typographical errors.</p>
        <p><strong>10. <u>Applicable Law</u></strong></p>
        <p>a. These Terms of Use are governed by English law.</p>
        <p>b. We will try and solve any disagreements arising from or related to a visit to the Handy Platform quickly and efficiently. If you are not happy with the way we deal with any such disagreement and you want to take court proceedings, you must do this in the United Kingdom.</p>
        <p>Last updated: <strong>November 15, 2016</strong></p>
      </div>
      <div class="tab-pane fade" id="boxed-tab-2">
        <p>Websites maintained by Handy (collectively the "Site") use a number of different cookies. This Cookies Policy explains the following:</p>
<ul>
<li>
<a href="#section1">What are cookies?</a>
</li>
<li>
<a href="#section2">Cookies we use and why we use them</a>
</li>
<li>
<a href="#section3">E.U. users' right to refuse cookies</a>
</li>
</ul>
<p id="section1">
<strong>WHAT ARE COOKIES?</strong>
</p>
<p>
Cookies are small files that are downloaded to your device when you visit a website. The cookie then sends information back to the originating website on each subsequent visit, or to another website that recognizes that cookie. Cookies are useful because they allow a website to recognize a user's device. You can find more information about cookies at:
<a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>
and
<a href="http://www.youronlinechoices.eu">www.youronlinechoices.eu</a>.
</p>
<p>Cookies perform many different functions, such as letting you navigate between pages efficiently, remembering your preferences, and generally improving the user experience.</p>
<p id="section2">
<strong>COOKIES AND WHY WE USE THEM</strong>
</p>
<p>Cookies can be categorized by who puts the cookie on the user's computer (or other device the user uses to browse the website).</p>
<p>
<strong>First-party cookies</strong>
are cookies placed by the party operating the website. For example, any cookies we (Handy) place on your computer from our Site are first-party cookies.
</p>
<p>
<strong>Third-party cookies</strong>
are cookies placed from a website by a party that does not own or operate that website.
</p>
<p>We use only first-party cookies on our Site.</p>
<p>Cookies are also often categorized by function. We use four types of cookies by function on our Site:</p>
<p>
<strong>1. Essential Cookies</strong>
</p>
<p>These are cookies that are strictly necessary for the functioning of the website or for performing services that an individual user has requested. For example, we use a cookie that remembers that you are logged into the Site until you log out.</p>
<p>
<strong>2. Analytical Cookies</strong>
</p>
<p>These cookies collect information about how visitors use a website — for instance, which pages visitors go to most often, and whether visitors get error messages from web pages. Analytical cookies don't collect information that identifies a visitor. All information that analytical cookies collect is aggregated and therefore anonymous. These cookies are used only to improve how a website functions.</p>
<p>We use cookies provided by third-party service providers, including Google Analytics, Optimizely, and New Relic, to help us analyze how users use the Site.</p>
<p>
The Google Analytics cookies collect data tied to a user's IP address, such as the length of time a user spends on a page, the pages a user visits, and the websites a user visits before and after visiting the Site. You can object to the collection of your information by Google Analytics by clicking
<a href="https://tools.google.com/dlpage/gaoptout?hl=en">here</a>.
We place cookies provided by Optimizely to test whether changes we have made to the Site work properly.
</p>
<p>Like the cookies provided by Google Analytics and Optimizely, the cookies provided by New Relic collect information about your visit to the Site, such as delays you might experience when using Site features. The New Relic cookies assign an identification number, called a "session ID", to your visit to our Site. Information collected about your visit is sent to New Relic and tied to the session ID. Each visit generates a new session ID, and session IDs between different visits are not linked to identify you. New Relic deletes the session ID at the end of your visit.</p>
<p>The cookies provided by each third-party service provider send the information they collect to that third-party service provider. For example, the cookies provided by Google Analytics send information about your Site interactions to Google Analytics. Each third-party service provider then compiles aggregated data using the information received and sends us reports on the aggregated data. These reports are not shared with other parties. We use the reports to offer better Site experiences and tools in the future.</p>
<p>Although these cookies provide information to the third-party service providers, they are first-party cookies because we place them ourselves.</p>
<p>
<strong>3. Functional Cookies</strong>
</p>
<p>These cookies allow the website to remember choices users make and to provide enhanced, personalized features. For example, we use cookies provided by Olark.com that allow you to continue chatting with customer support when navigating between pages.</p>
<p>
<strong>4. Targeting/Advertising Cookies</strong>
</p>
<p>Targeting/advertising cookies are cookies used to deliver advertisements relevant to the user. They remember that a user has visited a website and share this information with other organizations, such as advertising vendors.</p>
<p>Cookies in this category may include Remarketing Cookies. These are cookies that remember that you visited our Site after you leave.  Sometimes they collect information about what pages of our Site you visited. They then share this information with our third-party vendors, such as AppNexus, Google, Nanigans, Facebook, and Twitter. Based on this information, the third-party vendors show you advertisements on third-party websites for Handy products that we think may interest you based on what you viewed on our Site.</p>
<p>
You may opt out of Google's use of cookies by visiting
<a href="http://www.google.com/settings/ads?hl=en&amp;sig=ACi0TCj3tYSWx1J-_py5kWT1_-bwSVlQ6_ctD3te7yK2M1nOjE8qqSPAFgD0ilTnZH6iRKipNQr3oHKqwYqeB9AJ6VnmkUfSZskoxWxZeLpChNWyCneYQQMHG2rpHJrxi_jE-Bv8LL8S0uqPcmcBA2zkPYibn6b5OwjEfvqbZTq7a_Muo-nZ-9GaW8xM7xt7asNUmDcB41Lg">Google's Ads Settings</a>
here. You can also opt out of the use by other third-party vendors, such as AppNexus, of information from cookies placed by the Site by visiting the Network Advertising Initiative opt-out page.  However, not all of our third-party vendors participate in the
<a href="http://www.networkadvertising.org/choices/">Network Advertising Initiative opt-out page</a>.
</p>
<p>Cookies can also be categorized by how long they remain on your device. There are two broad categories of duration:</p>
<p>
<strong>1. Persistent cookies</strong>
</p>
<p>Persistent cookies remain on your device until deleted manually or automatically.</p>
<p>
<strong>2. Session cookies</strong>
</p>
<p>Session cookies remain on your device until you close your browser when they are automatically deleted.</p>
<p>We use both session and persistent cookies on our Site.</p>
<strong>Location of information processing:</strong>
<br>
<p>The information collected by our cookies is processed in servers located in the United States.</p>
<p id="section3">
<strong>E.U. USERS' RIGHT TO REFUSE COOKIES</strong>
</p>
<p>Users in the European Union (E.U.) have the right to refuse to allow cookies to be placed on the device they use to access the Site. We describe below how E.U. users can reject cookies used by our Site.</p>
<p>
<u>Rejecting Cookies Through Browser Settings:</u>
</p>
<p>
The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, and how to disable cookies altogether. For more information on using browser settings to reject cookies, please visit
<a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.
</p>
<p>You should note that rejecting cookies in your browser settings may mean that any preferences you set on this Site will be lost and that the Site may not work as well. In addition, using the browser settings to reject cookies may also cause your browser to reject cookies from all websites, not just this Site.</p>
<p>
<strong>HAVE QUESTIONS?</strong>
</p>
<p>
If you have any questions about our Cookie Policy, we'll do our best to answer them. You can email us at
<a href="mailto:privacy@handy.com">privacy@handy.com</a>.
</p>
<p>
<strong>COOKIE POLICY UPDATES</strong>
</p>
<p>If we change our Cookie Policy, we will post those changes on this page and update the Cookie Policy modification date above. If we materially change this Cookie Policy in a way that affects how we use or disclose your personal information, we will notify you by prominently posting a notice of such changes before making them and by stating the effective date of the changes.</p>
<p>
Last updated:
<strong>May 28, 2015</strong>
</p>
      </div>
      <div class="tab-pane fade" id="boxed-tab-3">
        <p>Handy Technologies, Inc., and its affiliates and subsidiaries ("Handy" or "we", "us", or the "Company") take your privacy seriously. This Privacy Policy explains how we collect, use, share, and protect your Personal Information. If you do not want us to handle your Personal Information in this manner, please do not use the Handy Platform. Personal Information is information that could reasonably be used to identify you individually, such as your name, e-mail address, and mobile number.</p>
<p>
<strong>This Privacy Policy explains:</strong>
</p>
<ul>
<li>What information we collect</li>
<li>How we use that information</li>
<li>How we may share that information</li>
<li>How we protect your information</li>
<li>Your choices regarding your Personal Information</li>
<li>How to contact us with questions about this Privacy Policy</li>
<li>Our Safe Harbor Privacy Policy</li>
</ul>
<p>
This Privacy Policy applies only to information that we collect on the websites Handy.com, site.mopp.com, and site.iamexec.com (collectively, the
<strong>"Site"</strong>)
and through the Handy mobile applications, including the mobile application for service requesters and the mobile application for service professionals (the
<strong>"App"</strong>)
(collectively the
<strong>"Handy Platform"</strong>).
</p>
<p>
Handy Technologies, Inc. participates in the Safe Harbor program developed by the U.S. Department of Commerce and the European Union and Switzerland. To learn more about this program and our participation in this program, click
<a href="#section7">here</a>.
</p>
<p id="section1">
<strong>I. INFORMATION WE COLLECT</strong>
</p>
<p>
<strong>a) Information You Give Us</strong>
</p>
<p>We collect information that you voluntarily share with us through the Handy Platform.</p>
<p>If you are using the Handy Platform to request professional services, you may give us:</p>
<ul>
<li>Contact information, such as your name, physical address, telephone number, and email address</li>
<li>Information about your home, such as the number of bedrooms, the types of appliances and zip code or postal code where your home is located</li>
<li>Billing information, such as credit or debit card number, expiration date &amp; security code and/or information regarding your PayPal, Google Wallet or other digital payment accounts</li>
<li>Ratings and reviews of the service professionals you engage through the Handy Platform</li>
</ul>
<p>If you participate on the Handy Platform as a service professional, you may give us:</p>
<ul>
<li>Contact information, such as your name, email address, mailing address, and phone number</li>
<li>Log-in information, including your Handy Platform username and password</li>
<li>Application information, if requesting consideration to participate as a service professional through the Handy Platform, such as your experience, skills, eligibility to work, and availability</li>
<li>Social Security number, if you are a service professional who wishes to participate on the Handy Platform in the United States and you are selected for a background check</li>
</ul>
<p>If you apply on the Handy Platform for employment with Handy, you may give us:</p>
<ul>
<li>Contact information, including your name, email address, telephone number, and mailing address</li>
<li>Resume and LinkedIn profile</li>
</ul>
<p>
<u>More about payment card information:</u>
</p>
<p>
Although users can submit credit card or other payment card information to pay for a service through the Handy Platform, Handy does not receive this information itself. Payment card information is transmitted directly to a third-party payment card processor, Stripe, through an Internet connection secured by industry-standard Secure Socket Layer (SSL) encryption technology. Stripe then communicates to Handy whether your payment has cleared, but does not provide payment card information to Handy. Stripe's privacy policy is available
<a href="https://stripe.com/us/privacy">here</a>.
</p>
<p>
<strong>Surveys</strong>
</p>
<p>You may, at your choice, complete surveys on the Handy Platform about, for example, your level of satisfaction with the Handy Platform, your engagement with the Handy Platform, and your awareness of Handy Platform features. In some cases, we may link the information you provide in the survey with Personal Information in your Handy account, such as your name or email address. When linked to Personal Information, your survey information becomes Personal Information too.</p>
<p>
<strong>b) Information We Collect Through Technology</strong>
</p>
<p>We collect information through technology to enhance our ability to serve you. When you access and use the Handy Platform, Handy and, in some cases, our third-party service providers collect information about how you interact with the Handy Platform. We describe below a few of the methods we use to collect information through technology.</p>
<p>When you visit the Handy Platform, we collect your Internet Protocol (IP) address. An IP address is often associated with the portal you used to enter the Internet, like your Internet service provider (ISP), company, association, or university.  While an IP address may reveal your ISP or geographic area, we cannot determine your identity solely based upon your IP address. However, we may link the last IP address you used to access the Handy Platform to Personal Information you provide us.</p>
<p>
We may also collect a unique identifier for your computer, mobile device, or other device used to access the Handy Platform (<strong>"Device Identifier"</strong>). A Device Identifier is a number that is automatically assigned to the device you used to access the Handy Platform. We may link the Device Identifier to other information about your visit, such as what pages you viewed, and to Personal Information you provide us, such as your name.
</p>
<p>
<strong>Do We Use Cookies?</strong>
</p>
<p>
Yes. For more information about cookies, please visit our
<a href="/cookies">Cookies Policy</a>.
</p>
<p>
<strong>Web Beacons</strong>
</p>
<p>We may include small graphic images or other web programming code, called web beacons (also known as "pixel tags", "web bugs" or "clear GIFs"), in our web and mobile pages and messages. The web beacons are minute graphics with a unique identifier. They are used to track the online movements of Web users. In contrast to cookies, which are stored in a user's computer hard drive, web beacons are embedded invisibly on Web pages and are about the size of the period at the end of this sentence. Web beacons help us better manage content on the Handy Platform by informing us what content is effective, monitoring how users navigate the Handy Platform, counting users of the Handy Platform, and counting how many e-mails sent by us were actually opened.</p>
<p>
<strong>Your 'Do Not Track' Browser Setting</strong>
</p>
<p>We do not support the Do Not Track (DNT) browser setting. DNT is a preference you can set in your browser's settings to let the websites you visit know that you do not want the websites collecting your Personal Information.</p>
<p>We do track your online activities over time and across third-party websites or online services. For example, we use web beacons to help us determine what links or advertisers brought you to our Site. We also use third-party service providers to display advertisements to you on other websites based on your activities while on the Handy Platform.</p>
<p>
<strong>c) Information Collected by Mobile Applications</strong>
</p>
<p>
When you use the App, the App may automatically collect and store some or all of the following information from your mobile device (<strong>"Mobile Device Information"</strong>), including, but not limited to:
</p>
<ul>
<li>The type of Internet browsers you use with the App.</li>
<li>Your preferred country site.</li>
<li>Your mobile operating system.</li>
<li>Your phone number or other identifiers assigned to your mobile device, including: The IP address of your mobile device, The manufacturer and model of your mobile device</li>
</ul>
<p>
We may also collect information about how you use the App, such as the amount of time you spend using the App, how many times you use a specific feature of the App over a given time period, how often you use the App, and actions you take in the App. In addition, we may gather information about the website from which you downloaded the App to help us determine what App download site is most effective (collectively
<strong>"App Usage Information"</strong>).
</p>
<p>We may link your Mobile Device Information and App Usage Information to Personal Information you have provided us, in which case we will treat the combined information as Personal Information.</p>
<p>
<strong>Location Tracking</strong>
</p>
<p>
If you are a service professional using Handy's mobile application for service professionals (the
<strong>"Pro Portal"</strong>),
we may collect your geographic location by using Global Positioning System (GPS) information sent to us from the Pro Portal. For more information on when this information is collected, how we use it, and with whom it is shared, services professionals should refer to the Service Professional Agreement available on the service professional portal.
</p>
<p>We only collect location information about service professionals who have been accepted to participate on the Handy Platform and not about service requesters or about service professionals applying to participate in the Handy Platform.</p>
<p>
<strong>d) Information You Provide About A Third Party</strong>
</p>
<p>If you choose to use our referral service to tell a friend about the Handy Platform, we may collect your friend's name and email address. We will automatically send your friend a one-time email inviting him or her to visit the Handy Platform. We store this information only to send this one-time email and to track the success of our referral program. We do not use this information for any other marketing purpose unless we obtain consent from that person or we explicitly say otherwise. Please be aware that when you refer a friend, your e-mail address may be included in the message sent to your friend.</p>
<p>If you are using the Handy Platform to request professional services, you may provide us ratings and reviews of the service professionals you engage through the Handy Platform.</p>
<p>
<strong>e) Information Third Parties Provide About You</strong>
</p>
<p>We may supplement the information we collect about you through the Handy Platform with records received from third parties in order to enhance our ability to serve you, to tailor our content to you, and to offer you information that we believe may be of interest to you. For example, websites on which we have placed advertisements, such as Google, may tell us which ads about Handy you clicked. This is often called "conversion tracking."</p>
<p>In addition, when third parties such as Hirease, Onfido, or Checkr conduct background checks on service professionals, those third parties share the results of the background check with Handy.</p>
<p>If you login to the Handy Platform through a social networking site, such as Facebook, we may collect your Facebook authentication token and account identification number and use that information to provide you with access to your account on the Handy Platform.</p>
<p>If you call or text (SMS) message a service professional or service requester using the telephone number provided by Handy, Handy uses Twilio to mask your telephone number. During this process, Handy and Twilio receive in real time and store call data, including the date and time of the call or text (SMS) message, the parties’ phone numbers, and the content of the text (SMS) messages.</p>
<p>If you send a message to a service professional or service requester in the App, Handy uses Layer to process the communications. During this process, Handy and Layer receive in real time and store message data, including the date and time of the message, and the content of the messages.</p>
<p>If you are using the Handy Platform as a service professional, we may receive information about you in the form of ratings and reviews from requestors who engaged your professional services through the Handy Platform.</p>
<p>We will apply this Privacy Policy to any Personal Information received from third parties, unless we have disclosed otherwise.</p>
<p>
<strong>f) Information You Provide to a Third Party</strong>
</p>
<p>
The Handy Platform includes links from the Handy Platform to sites or applications operated by third parties (<strong>"Third-Party Sites"</strong>) and plug-ins (such as Twitter buttons) from Third-Party Sites.
</p>
<p>For example, service professionals may be directed to a Third Party Site, such as Checkr.com, Onfido.com, or Hirease.com, so that the Third Party Site can conduct a background check. The Third Party Site may ask the service professional for identifying information to conduct the background check.</p>
<p>
Some Third-Party Sites link to Handy and share information with Handy.  For example, in some cases, you can book services through the Handy Platform with one of our booking partners, such as Airbnb and Amazon. In that case, you might provide the booking information, such as your name, telephone number, email address, and booking address, to the booking partner. The booking partner might then share the necessary booking information with us. Airbnb's privacy policy is available
<a href="https://www.airbnb.com/terms/privacy_policy">here</a>
and Amazon's privacy policy is available
<a href="http://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496">here</a>.
</p>
<p>Handy does not control any Third-Party Sites, and is not responsible for any information they may collect. The information collection practices of a Third-Party Site are governed by that site's privacy policy.</p>
<p>We recommend that you read the Third-Party Site's privacy policy if you choose to enter any Third-Party Site or click on a plug-in.</p>
<p id="section2">
<strong>II. HOW WE USE THE INFORMATION WE COLLECT</strong>
</p>
<p>We use the information we collect to serve our customers, consider applicants, market and promote our services, and improve your experience at the Handy Platform. Some examples include:</p>
<ul>
<li>Scheduling, rescheduling, and cancelling services</li>
<li>Rating and reviewing service professionals</li>
<li>Providing public profiles of service professionals</li>
<li>Addressing service complaints</li>
<li>Communicating with you by email, telephone, or text message, in accordance with your wishes</li>
<li>Managing payments for services</li>
<li>Considering whether to engage service professionals on the Handy Platform</li>
<li>Evaluating job applications to work at Handy</li>
<li>Improving customer service</li>
<li>Sending you marketing and promotional emails, unless you have told us you do not want to receive such emails</li>
<li>Troubleshooting technical problems on the Handy Platform</li>
<li>Responding to questions and feedback</li>
<li>Conducting research and analysis</li>
<li>Running online or mobile sweepstakes, contents, or other promotions</li>
<li>Marketing and advertising products and services</li>
<li>Continuously evaluating and improving the online and mobile user experience</li>
<li>Preventing, discovering and investigating violations of this Privacy Policy or any applicable terms of service or terms of use for the Mobile Application, and investigating fraud, chargebacks or other matters</li>
<li>Contacting you with regard to your use of the Handy Platform and, in our discretion, changes to the Handy Platform and/or the Handy Platform policies</li>
</ul>
<p>By using the Handy platform, you expressly consent and agree to accept and receive communications from us, including via e-mail, text message, calls, and push notifications to the cellular telephone number you provided to us. By consenting to being contacted by Handy, you understand and agree that you may receive communications generated by automatic telephone dialing systems and/or which will deliver prerecorded messages sent by or on behalf of Handy, its affiliated companies and/or Users/Professionals, including but not limited to: operational communications concerning your account or use of the Handy Platform or Services, updates concerning new and existing features on the Handy Platform, communications concerning promotions run by us and news concerning Handy and industry developments.&nbsp;If you wish to opt-out of promotional emails, text messages, or other communications, you may opt-out by following the unsubscribe options described below.&nbsp;Standard text messaging charges applied by your cell phone carrier will apply to text messages we send. You acknowledge that you are not required to consent to receive promotional messages as a condition of using the Handy Platform or the Services. You may opt-out of receiving promotional or marketing texts or calls from Handy at any time. You may also opt-out of receiving all texts or calls from Handy (including informational or transactional messages), however you acknowledge that opting out of receiving all texts may impact your use of the Handy Platform or the Services.</p>
<p>The information described in this section may be transferred to, or processed and stored in, the United States and other countries, which may employ greater or less restrictive data protection laws. In all cases, we will take appropriate measures to protect your personal information in accordance with the policies described herein.</p>
<p>
<strong>Data Retention</strong>
</p>
<p>We delete the back-ups of the databases containing your Personal Information after 13 months.</p>
<p id="section3">
<strong>III. HOW WE SHARE THE INFORMATION WE COLLECT</strong>
</p>
<p>We do not sell, rent, or trade your Personal Information to third parties other than as disclosed in this Privacy Policy at the time you provide your information.  The following are some of the ways we share your information:</p>
<p>
<strong>a) Service Professional Profiles and Ratings and Reviews by Requestors</strong>
</p>
<p>The Handy Platform may display profiles of the service professionals who participate on the Handy Platform. These profiles may include the service professional’s name, and ratings and reviews about the service professional provided by their customers. The service professional’s profile may be visible to all users of the Handy Platform.</p>
<p>If you provide a rating or review about a service professional, we may post your first name, the initial of your last name, and the name of your neighborhood along with your rating or review on the service professional’s profile. In addition, service professionals may use your ratings and reviews, as well as this personal information about you, in their own marketing materials.</p>
<p>
<strong>b) Third Parties Providing Services on Our Behalf</strong>
</p>
<p>Third party companies and individuals provide or facilitate certain aspects of the services offered through the Handy Platform on our behalf. We may provide these third-party service providers with access to your information, including your Personal Information, so that they can perform these services for us. We require these third-party service providers to provide safeguards for your Personal Information similar to the ones that we provide.</p>
<p>The following are some examples of how we share your information with third-party service providers.</p>
<ul>
<li>
We retain third-party service providers to help us perform data analytics regarding your interactions with the Handy Platform. For example, Google Analytics (privacy policy
<a href="http://www.google.com/intl/en/policies/privacy/">here</a>)
and Bounce Exchange (privacy policy
<a href="http://www.bounceexchange.com/privacy/">here</a>)
may track what pages users visit on the Site, whether users use any coupon codes, and what services users request to determine how users use the Site.
</li>
<li>
In some cases, these third-party service providers, such as Epsilon, may in turn share your Personal Information, such as your name and email address, with other third parties for their marketing-related purposes. If you wish to opt out of having your Personal Information shared with such third parties, please email
<a href="mailto:privacy@handy.com">privacy@handy.com</a>.
</li>
<li>
Service providers help us to provide functions available through the Handy Platform. For example, we may share your Device Identifier with Urban Airship so that it can help us to send you push notifications. Urban Airship's privacy policy is available
<a href="http://urbanairship.com/legal/privacy-policy">here</a>.
We share your telephone number and call data with Twilio, as described in Section I(e), above, so that Twilio can mask your telephone number. Twilio's privacy policy is available
<a href="https://www.twilio.com/legal/privacy">here</a>.
We share your telephone number, call data, device id and other Handy account and device information with Layer, as described in Section I(e), above, to help facilitate communication using the App. Layer's privacy policy is available
<a href="https://layer.com/privacy">here</a>.
</li>
<li>
We use third-party service providers to analyze your use of the Handy Platform. For example, Branch Metrics provides reports to us showing how you interact with the Handy Platform, such as your IP address and Device Identifier. Branch Metric's privacy policy is available
<a href="https://branch.io/policies/">here</a>.
</li>
<li>We may disclose your Personal Information to an attorney in the process of obtaining legal advice.</li>
<li>We use Stripe, a third-party service provider, to process any billing information, including credit card information you submit.</li>
<li>When service professionals applying to participate on the Handy Platform in the United States provide their Social Security numbers for a background check, the Social Security number is transmitted using SSL encryption to the background check service provider. Handy also securely provides U.S. service professional's Social Security numbers to the check processor.</li>
<li>If you participate in Handy&nbsp;Vault, Handy uses KeyCafe, a third-party service provider, to store and provide digital access for your keys to services professionals participating on the Handy platform. As part of this service, Handy will provide KeyCafe your name and your physical keys.</li>
<li>If you provide services to a customer who participates in Handy&nbsp;Vault, Handy uses KeyCafe, a third-party service provider, to provided digital access to the customer's keys. As part of this service, Handy will provide KeyCafe your mobile phone number.</li>
</ul>
<p>
<strong>c) If You Agree To Receive Information From Third Parties</strong>
</p>
<p>When using the Handy Platform, you may be presented with opportunities to receive information or marketing offers directly from third parties. If you agree to share your Personal Information to receive this information or marketing offers, your Personal Information may be disclosed to such third parties. All the information you disclose to the third parties will be subject to the privacy policy and practices of such third parties. We are not responsible for the privacy policies and practices of such third parties and, therefore, you should review the privacy policies and practices of such third parties prior to sharing your Personal Information with them. If you later decide that you no longer want to receive communication from such a third party, you will need to contact that third party directly.</p>
<p>
<strong>d) Booking Partners</strong>
</p>
<p>We share your Personal Information with booking partners. For example, Airbnb and Amazon customers can book services through the Handy Platform from the Airbnb and Amazon sites. Upon request, we provide our booking partners with information about the services you booked through the Handy Platform.</p>
<p>
<strong>e) Sweepstakes, Contests and Promotions</strong>
</p>
<p>We may offer sweepstakes, contests, and other promotions (any, a "Promotion") through the Handy Platform that may require providing Personal Information to register. By participating in a Promotion, you are agreeing to the official rules that govern that Promotion, which may contain specific requirements of you, including, allowing the sponsor of the Promotion to use your name, voice and/or likeness in advertising or marketing associated with the Promotion. Please read the official rules carefully. If you choose to enter a Promotion, Personal Information may be disclosed to third parties or the public in connection with the administration of such Promotion, including, in connection with winner selection, prize fulfillment, and as required by law or permitted by the Promotion's official rules, such as on a winners' list.</p>
<p>
<strong>f) Social Network Site Authentication</strong>
</p>
<p>If you choose to log-in to the Handy Platform through Facebook, Twitter, or another social networking site, we may share information about your account with the social networking site.</p>
<p>
<strong>g) Administrative and Legal Reasons</strong>
</p>
<p>
<strong>Required Disclosures:</strong>
</p>
<p>We may be required to disclose Personal Information in response to a court order, subpoena, civil discovery request, other legal process, or as otherwise required by law.</p>
<p>
<strong>Legal Compliance and Protections:</strong>
</p>
<p>We may disclose account and other Personal Information when we believe disclosure is necessary to comply with the law or to protect the rights, property, or safety of Handy, our users, or others. This includes exchanging Personal Information with other companies and organizations for fraud prevention and credit risk reduction.</p>
<p>
<strong>h) Corporate Transactions</strong>
</p>
<p>We reserve the right to disclose and transfer your information, including your Personal Information:</p>
<ul>
<li>To a subsequent owner, co-owner, or operator of the Handy Platform or successor database.</li>
<li>In connection with a corporate merger, consolidation, the sale of substantially all of our membership interests and/or assets or other corporate change, including to any prospective purchasers.</li>
</ul>
<p>
<strong>CHILDREN'S ONLINE PRIVACY PROTECTION ACT COMPLIANCE</strong>
</p>
<p>We do not collect any information from anyone under 13 years of age. The Handy Platform, and products and services offered through it, are all directed to people who are at least 13 years old or older. If you are under the age of 13, you are not authorized to use the Handy Platform.</p>
<p>
<strong>CALIFORNIA ONLINE PRIVACY PROTECTION ACT COMPLIANCE/YOUR CALIFORNIA PRIVACY RIGHTS</strong>
</p>
<p>
California residents who use the Handy Platform may request that we provide certain information regarding our disclosure of your Personal Information to third parties for their direct marketing purposes. You can make such a request by e-mail to
<a href="mailto:privacy@handy.com">privacy@handy.com</a>
or by mail to: PO Box #1122, New York, NY 10159
</p>
<p id="section4">
<strong>IV. HOW WE PROTECT THE INFORMATION WE COLLECT</strong>
</p>
<p>The security and confidentiality of your Personal Information is important to us.  We have implemented technical, administrative, and physical security measures to protect your Personal Information from unauthorized access or disclosure and improper use.</p>
<p>For example, when users book services, the information they input is encrypted through SSL encryption. We do not store credit card information on our servers, and we use SSL encryption to protect your credit card information when it is transferred to our third-party payment processor.  In addition, access to your Personal Information is restricted in our offices. Only employees who need the Personal Information to perform a specific job, for example, sales representatives, managers, and customer service staff, are granted access to Personal Information. All employees with access to Personal Information are kept up-to-date on our security and privacy practices. After a new policy is added, these employees are notified and/or reminded about the importance we place on privacy, and what they can do to enhance protection for our users' Personal Information.</p>
<p>It is important for you to protect against unauthorized access to your account password and to your computer. Be sure to log out of your account or to close your browser after you have completed your visit to our Site.</p>
<p>Please note that despite our reasonable efforts, no security measure is ever perfect or impenetrable, so we cannot guarantee the security of your Personal Information.</p>
<p id="section5">
<strong>V. YOUR CHOICES REGARDING THE INFORMATION WE COLLECT</strong>
</p>
<p>
You may contact
<a href="mailto:privacy@handy.com">privacy@handy.com</a>
to update, correct, or delete your Personal Information. You may also update, correct, and delete some of your Personal Information through your account on the Handy Platform.
</p>
<p>In addition, you may cancel or modify the email communications you have chosen to receive from the Handy Platform by following the instructions contained in emails from us.</p>
<p id="section6">
<strong>VI. HAVE QUESTIONS?</strong>
</p>
<p>If you have any questions about this Privacy Policy, we'll do our best to answer them promptly. Here's how to contact us:</p>
<p>
Email:
<br>
<a href="mailto:privacy@handy.com">privacy@handy.com</a>
</p>
<p>
Mailing Address:
<br>
Handy Technologies, Inc.
<br>
PO Box #1122
<br>
New York, NY 10159
</p>
<p id="section7">
<strong>VII. OUR SAFE HARBOR PRIVACY POLICY</strong>
</p>
<p>
To provide an adequate level of protection for Personal Information received from the Member States of the European Union and the European Economic Area (<strong>"Member States"</strong>) and from Switzerland, Handy Technologies, Inc., (<strong>"Handy US"</strong>) adheres to the seven Safe Harbor Principles developed by the United States Department of Commerce and the European Commission and Switzerland.  In addition to the provisions in this Privacy Policy, Handy US abides by the seven privacy principles derived from the Safe Harbor privacy framework when processing the Personal Information of natural persons (<strong>"Individuals"</strong>) located in the Member States and Switzerland. Individuals include users of the Handy Platform, such as service requesters and service professionals. Individuals also include employees of Handy US’s affiliated companies located in the Member States and Switzerland. Please note that service professionals who provide services through the Handy Platform are independent contractors and are not employees of Handy US or employees of any of Handy US’s affiliated companies.
</p>
<p>The seven privacy principles are described in more detail below.</p>
<p>To the extent that any other provision in this Privacy Policy conflicts with the seven privacy principles below, Handy US follows these seven privacy principles instead of the conflicting provision when processing the Personal Information of Individuals located in the Member States and Switzerland.</p>
<p>
To learn more about the Safe Harbor program, and to view Handy US's certification, please visit
<a href="http://www.export.gov/safeharbor/">http://www.export.gov/safeharbor/</a>.
</p>
<p>
<strong>1. Notice</strong>
</p>
<p>Before processing the Personal Information of any Individual who resides in a Member State or Switzerland, Handy US, or its local affiliate, provides the Individual with a notice concerning the processing of his or her Personal Information. The notices, including this Privacy Policy, are available for review on the Handy Platform and/or provided directly to the Individual.</p>
<p>
Handy US receives the Personal Information of Handy Platform users and processes it for the purposes described in this Privacy Policy. Handy US receives the Personal Information of applicants for employee positions located in the Member States and Switzerland (<strong>"Applicants"</strong>) to administer the recruitment process and, of employees, to administer the employment relationship. Examples of the purposes for which Handy collects and uses employee and Applicant Personal Information include, without limitation, recruitment; workforce management; to administer compensation, payroll, and benefits; to address various legal obligations related to the employment relationship, including discovery obligations in civil litigation; to administer training; to administer Handy US’s compliance process; and for emergency contact purposes.
</p>
<p>The employee Personal Information that Handy US receives from the Member States and Switzerland consists largely of information provided by Applicants, such as resumes and completed job applications and information created by Handy US or its affiliates to administer the employment relationship, such as business contact information, compensation and benefits information, etc.</p>
<p>Handy US will not use or disclose Personal Information transferred from a Member State or Switzerland to the United States for any purpose that has not previously been disclosed to the Individual unless: (a) the Individual has received notice and an opportunity to exercise choice, as described below, with respect to such use or disclosure; or (b) applicable law permits the use or disclosure without requiring that Handy US first comply with the Notice and Choice Principles.</p>
<p>
<strong>2. Choice: How To Opt Out Of Collection Of Your Personal Information By Handy US and Transfer To Third Parties</strong>
</p>
<p>Handy US will offer Individuals in the Member States and Switzerland whose Personal Information has been transferred to the United States the opportunity to opt out from: (a) the disclosure of Personal Information to a non-agent third party; and (b) the use or disclosure of their Personal Information for a purpose other than the purposes for which the information originally was collected or subsequently authorized by the Individual or a compatible purpose. Handy US will provide Individuals with reasonable mechanisms to exercise their choices should such circumstances arise.</p>
<p>
<strong>3. Onward Transfer: Third Parties To Whom We May Disclose Your Personal Information</strong>
</p>
<p>Handy US will comply with the Notice and Choice Principles before transferring Personal Information to a third party who is not an agent of Handy US. Before transferring Personal Information to a third-party agent, such as an authorized service provider, Handy US will obtain assurances from the agent that it will process Individuals' Personal Information in a manner consistent with these seven privacy principles.  Where Handy US learns that an agent is using or disclosing Personal Information in a manner contrary to these seven privacy principles, Handy US will take reasonable steps to prevent such use or disclosure.</p>
<p>
In some cases, as described in Section III of this Privacy Policy, our third-party service providers may in turn share the Personal Information of Handy Platform users with other third parties. You can opt out of such onward transfers by emailing
<a href="mailto:privacy@handy.com">privacy@handy.com</a>.
</p>
<p>
<strong>4. Security for Your Personal Information</strong>
</p>
<p>Handy US is committed to safeguarding the Personal Information that it receives from the Member States and Switzerland. While Handy US cannot guarantee the security of the Personal Information that it receives, Handy US takes reasonable precautions, as described in Section IV, above, of the Privacy Policy, to protect the Personal Information in Handy US's possession from loss, misappropriation, and unauthorized access, disclosure and destruction. These precautions include the measures described in Section IV, above, of the Privacy Policy.</p>
<p>
<strong>5. Data Integrity: How We Limit The Collection And Retention Of Your Personal Information</strong>
</p>
<p>Handy US collects only Personal Information that is necessary for the purposes described in this Privacy Policy. Handy US will process Personal Information only in ways that are for, or compatible with, the business purposes for which the data was collected or that are subsequently authorized by the Individual. Handy US takes reasonable steps to ensure that the information it collects is accurate, complete, current, and reliable for its intended use. Handy US will retain Personal Information only for as long as is necessary to accomplish Handy US's legitimate business purposes or for as long as may be permitted or required by applicable law.</p>
<p>
<strong>6. Access And Correction: How You Can Exercise Your Rights</strong>
</p>
<p>Upon reasonable request and in accordance with applicable local law, Handy US will grant Individuals reasonable access to their Personal Information and will permit them to correct, amend or delete Personal Information that is inaccurate or incomplete. Means for exercising these rights are described in Section V of this Privacy Policy for users of the Handy Platform. Employees should contact their local manager to exercise these rights.</p>
<p>
<strong>7. Enforcement: What To Do If You Have a Complaint</strong>
</p>
<p>
Any employee who has a complaint concerning Handy US’s processing of Personal Information should contact
<a href="mailto:privacy@handy.com">privacy@handy.com</a>.
Handy US will conduct an investigation and attempt to resolve such complaints in accordance with these seven privacy principles. Any employee who is not satisfied with the internal resolution of the complaint may seek redress with the national data protection or labor authority in the country where the employee resides. In the event the employee chooses to file a complaint with a national data protection authority, Handy US will cooperate in investigations by, and comply with the advice of, competent Member State and Swiss authorities.
</p>
<p>Handy US will conduct periodic self-assessments of its relevant practices to verify adherence to these seven Safe Harbor Privacy Principles.</p>
<p>
<strong>PRIVACY POLICY UPDATES</strong>
</p>
<p>If we change this Privacy Policy, we will post those changes on this page and update the Privacy Policy modification date below. If we materially change this Privacy Policy in a way that affects how we use or disclose your Personal Information, we will notify you by prominently posting a notice of such changes before making them and by stating the effective date of the changes.</p>
<p>
Last updated:
<strong>June 30, 2017</strong>
</p>
      </div>
    </div>
</div>
</article>

        </div></div></div></div>
</section>
