<div class="page-heading">
            <h3>
                Customer Retention (%)
            </h3>
            <ul class="breadcrumb">

            </ul>
			<p id="notice"><%= notice %></p>
</div>
<div class="wrapper">
        <div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
					</header>
					<div class="panel-body">

              <%= line_chart "/admin/reports/overall_revenue_json" %>
						<br />
					</div>
				</section>
			</div>
		</div>
</div>
