<div class="row">
<div class="col-sm-4 col-xs-9">
<label for="checkout-ln"><%= field.name %></label>
</div>

<div class="col-sm-8 col-xs-3">
      <%= f.text_field "#{field.category_id}[#{field.id}]", :class => 'form-control select select2' %>
</div>
</div>
