<main class="main-content p-5" role="main">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <h1>Messages</h1>
      <br>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body product-page">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-page-left">
                <div class="row">
                  <div class="col-sm-12">
                    <%= render "sidebar" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 conversation">
              <%= render "specific_conversation", conversation: @conversations.first,
                message: @message,
                context_user: current_user if @conversations.any? %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
  (function() {
    $(document).on('click', '.toggle-window', function(e) {
      e.preventDefault();
      var panel = $(this).parent().parent();
      var messages_list = panel.find('.messages-list');

      panel.find('.panel-body').toggle();
      panel.attr('class', 'panel panel-default');

      if (panel.find('.panel-body').is(':visible')) {
        var height = messages_list[0].scrollHeight;
        messages_list.scrollTop(height);
      }
    });
  })();
  </script>

  <script>
  $(document).ready(function(){
    $(document).on('click', '.heading-compose', function() {
      $('.side-two').css({
        'left': '0'
      });
    });

    $(document).on('click', '.newMessage-back', function() {
      $('.side-two').css({
        'left': '-100%'
      });
    });
  })
</script>
