/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require admin/css/bootstrap.min
 *= require admin/css/mdb.min
 *= require admin/css/jquery-ui.min
 *= require admin/css/jquery-ui.structure.min
 *= require admin/css/jquery-ui.theme.min
 *= require admin/css/hamburgers
 *= require fullcalendar
 *= require_tree ./admin/css/plugins/
 *= require admin/css/datatables.min
 *= require messages.scss
 *= require admin/css/quillpro
 *= require select2.min
 *= require rateyo.min
 */



 #dup-week-schedule:hover,#dup-week-schedule:focus{
   color: #fff;
   background-color: #82cc6b;
   border-color: #82cc6b;
   outline: none;
   box-shadow: none;
 }
