<li class="media">
  <%= link_to staff_jobs_list_path, class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
    <i class="fa fa-bell fapadding"></i>
    <div class="media-body">
      <h6 class="mt-0 mb-1 notification-heading"><%= notification.action %></h6>
      <div class="notification-text">
        <%= notification.actor.first_name %> a <%= notification.notifiable_type.underscore.humanize.downcase %>
      </div>
      <span class="notification-time">Just now</span>
    </div>
</li>
<% end %>
