<main class="main-content p-5" role="main">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/partner">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Manual Bookings</li>
			</ol>
			<div class="row">
				<div class="col-md-6">
					<h1>
						&nbsp; Manual Bookings</h1>
				</div>
				<div class="col-md-6"><%= link_to 'Add Manual Booking', new_partner_job_path, data: {toggle: "modal", target: "#largemodal"}, remote: true, class: 'btn btn-success waves-effect waves-light float-right' %>
					<div id="largemodal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content2"></div>
						</div>
					</div>
				</div>

			</div>
			<br>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body product-page">
					<ul class="nav nav-pills tabheadergroup" id="JobsTab" role="tablist">
						<li class="nav-item tabheadersingle1">
							<a class="nav-link tabtext active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Pending Bookings</a>
						</li>
						<li class="nav-item tabheadersingle1">
							<a class="nav-link tabtext" id="assigned-tab" data-toggle="tab" href="#assigned" role="tab" aria-controls="assigned" aria-selected="false">Assigned Bookings</a>
						</li>
						<li class="nav-item tabheadersingle1">
							<a class="nav-link tabtext" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed Bookings</a>
						</li>
					</ul>
					<div class="tab-content" id="JobsTabContent">
						<div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
							<%= render 'manual_list_upcoming' %>
						</div>
						<div class="tab-pane fade" id="assigned" role="tabpanel" aria-labelledby="assigned-tab">
							<%= render 'manual_list_assigned' %>
						</div>
						<div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
							<%= render 'manual_list_completed' %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">

			$(function () {

				$('.dataTables-example1').DataTable({
					pageLength: 25,
					orderable: true,
					rowReorder: {
						selector: 'td:first-child'
					},
					responsive: true,
					dom: '<"html5buttons"B>lTfgitp',
					buttons: [
						{
							extend: 'copy'
						}, {
							extend: 'csv',
							title: 'Selected Customers'
						}, {
							extend: 'excel',
							title: 'Selected Customers'
						}, {
							extend: 'pdf',
							title: 'Selected Customers'
						}, {
							extend: 'print'
						}
					]

				});

			});
		</script>

		<script type="text/javascript">

			$(function () {

				$('.dataTables-example2').DataTable({
					pageLength: 25,
					orderable: true,
					rowReorder: {
						selector: 'td:first-child'
					},
					responsive: true,
					dom: '<"html5buttons"B>lTfgitp',
					buttons: [
						{
							extend: 'copy'
						}, {
							extend: 'csv',
							title: 'Selected Customers'
						}, {
							extend: 'excel',
							title: 'Selected Customers'
						}, {
							extend: 'pdf',
							title: 'Selected Customers'
						}, {
							extend: 'print'
						}
					]

				});

			});
		</script>

		<script type="text/javascript">

			$(function () {

				$('.dataTables-example3').DataTable({
					pageLength: 25,
					orderable: true,
					rowReorder: {
						selector: 'td:first-child'
					},
					responsive: true,
					dom: '<"html5buttons"B>lTfgitp',
					buttons: [
						{
							extend: 'copy'
						}, {
							extend: 'csv',
							title: 'Selected Customers'
						}, {
							extend: 'excel',
							title: 'Selected Customers'
						}, {
							extend: 'pdf',
							title: 'Selected Customers'
						}, {
							extend: 'print'
						}
					]

				});

			});
		</script>

	</main>
